:host {
  margin-top: auto;
  padding: 16px;
  border-top: 1px solid #eee;
  font-size: 0.75em;
}
li {
  list-style: none;
}
.sakai-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.sakai-footer--nav {
  display: flex;
  margin: 0;
  padding: 0;
}
.sakai-footer--nav li {
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid #eee;
}
.sakai-footer--nav li:last-of-type {
  border-right: 0 none;
}
.sakai-footer--copyright {
  margin: 0;
  padding: 0;
}
