header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--headerHeight);
  background-color: var(--gray-75, #222);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

ion-icon {
  color: white;
  /* --ionicon-stroke-width: 16px; */
  font-size: 44px;
}
li {
  list-style: none;
}
button,
input[type='button'] {
  display: inline-block;
  margin: 0;
  padding: 8px 12px;
  border: 1px solid var(--formBorderColor);
  border-radius: 4px;
  background-color: #fefefe;
  font-size: 1em;
  font-weight: normal;
  line-height: 16px;
  color: var(--textColorHighContrast);
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}
select,
input[type='text'],
input[type='date'] {
  box-sizing: border-box;
  height: 2.3em;
  padding: 4px;
  border: 1px solid var(--formBorderColor);
  border-radius: 3px;
}
.sakai-headerItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
  overflow: hidden;
  border-radius: 50%;
  font-size: 0;
  text-decoration: none;
}
.sakai-headerItem:hover,
.sakai-headerItem:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
#logoWrapper {
  background-color: var(--secondary-45);
  border-radius: 0;
  margin: 0;
  padding-right: 31px;
  height: 100%;
}
#logoWrapper:hover,
#logoWrapper:focus {
  background-color: var(--secondary-65);
}
.sakai-headerItem img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(100%) contrast(102%);
}
.sakai-headerLogo--institution {
  display: block;
  width: calc(var(--toolBarOpenWidth) - 40px);
  height: var(--headerHeight);
  margin-left: -44px;
  background: url('../images/logo-jewel.png') no-repeat center center;
  background-size: auto 40px;
  font-size: 0;
}
.sakai-headerSearch {
  display: flex;
  flex-grow: 2;
  justify-content: center;
}
.sakai-headerSearch .sakaiSearch {
  align-self: stretch;
  width: 67%;
  height: auto;
  margin-right: 4px;
}

.sakai-systemIndicators {
  display: flex;
  align-items: center;
  margin: 0 16px 0 0;
  padding: 0;
  color: #fff;
}
.sak-sysInd-account {
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  margin: 0 0 0 8px;
  border: 3px solid #fff;
}
.sak-sysInd-account img {
  filter: none;
  width: 40px;
}

.sakai-breadcrumbs ul {
  display: flex;
  margin-bottom: 16px;
  font-size: 0.8em;
  color: #fff;
  padding-left: 16px;
}
.sakai-breadcrumbs a {
  color: #fff;
}
.sakai-breadcrumbs ul li {
  margin-right: 4px;
  padding-right: 4px;
}
.sakai-breadcrumb::after {
  content: ' ';
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 4px;
  border: 1px solid #fff;
  border-bottom: 0;
  border-left: 0;
  border-radius: 1px;
  transform: rotate(45deg);
}
