:host {
  display: none;
  border-left: 1px solid #eee;
}
:host([open]) {
  display: flex;
  flex-direction: column;
  transition: width 200ms ease-in;
  overflow-y: scroll;
  height: 1vh;
  min-height: 100%;
}
.sakai-quickSideBar ul {
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  padding: 0;
  margin: 4px 0 0;
}
#userNav {
  /* position: fixed; */
  flex-direction: column;
}
.sakai-quickSideBar li {
  list-style: none;
}
.sakai-quickIt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 4px;
  padding: 4px;
  border: 2px solid #ddd;
  background-color: #eee;
  overflow: hidden;
  font-size: 0;
}
.sakai-sideWidget {
  display: none;
}
.isExpanded .sakai-sideWidget {
  display: block;
  padding-left: 50px;
}
ion-icon {
  color: #222;
}
