:host {
  display: none;
}
:host([open]) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  height: 1vh;
  min-height: 100%;
  background: var(--layoutBackgroundColor);
}

#sakaiToolBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.sakai-toolBar a {
  color: #333;
}
.sakai-sitesNav__menu,
.sakai-sitesNav__submenu {
  padding: 0;
  margin: 0;
}

#manageSidebar {
  height: 48px;
  background-color: var(--layoutBackgroundColor, #fafafa);
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0;
  flex-shrink: 0;
  position: sticky;
  bottom: 0;
  border-top: 1px solid var(--layoutBorderColor);
}

#manageSidebar > a {
  display: block;
  align-items: center;
  width: 100%;
  text-decoration: none;
  padding: 16px;
}
#manageSidebar > a > ion-icon {
  margin-right: 4px;
}
#mySites {
  display: none;
}
#membership {
  padding: 8px;
}
#membership a {
  text-decoration: none;
}
#membership span {
  padding-left: 4px;
}

h4 {
  padding-left: 8px;
}
